language: php

php:
  - 5.5
  - 5.6
  - 7.0

matrix:
  allow_failures:
    - php: 7.0

before_script:
  - travis_retry composer self-update
  - travis_retry composer install

script:
  - phpunit --coverage-text --coverage-clover=coverage.clover

branches:
  only:
    - master
    - stable
